{% extends "main.html" %}
{% block content %}
<h2>Nominations</h2>
{% for nomination in nominations %}
<p><a href="{{ url_for('admin.nomination_info', nominationId=nomination.id) }}">{{ nomination.speaker.name }}</a> (Status: {{ nomination.speaker.status }})
  <a href="{{ url_for('admin.nomination_edit', nominationId=nomination.id, status='accepted') }}">accept</a>
  <a href="{{ url_for('admin.nomination_edit', nominationId=nomination.id, status='under review') }}">under review</a>
  <a href="{{ url_for('admin.nomination_edit', nominationId=nomination.id, status='declined') }}">decline</a></p>
{% endfor %}
{% endblock %}
